/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "Agustina";
  src: url(/assets/fonts/Agustina.woff);
}


* {
  margin: 0;
  padding: 0;
}


html[data-theme="light"] {
  --bg-mybtn: red;
  --bg-nav: black;
  --bg-nav-img: black;
  --bg-footer: #DDE1EC;
  --bg: #ffffff;
  --text: #191919;
  --text-color: #6c757d;
  --col-icon: black;
  --col-bd-radius: rgb(2, 2, 2);
  --col-box-shadow: #000000 2px 2px 4px, #4D4D4D -2px -2px 4px;
  --col-box-shadow-hover: inset #8a7373 2px 2px 4px, inset #4D4D4D -2px -2px 4px;
  --col-bd-icon: transparent;
  --bg-icon: #fff;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail: rgb(209, 82, 82);
  --col-icon-google-scholar: #3cba54;
  --col-icon-codeforces: rgb(19, 145, 184);
  --col-icon-leetcode: rgb(255, 181, 62);
  --shadow-col: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --bg-mybtn: rgb(230, 109, 129);
  --bg-nav: #6617cb;
  --bg-nav-img: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg-footer: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  --bg: #191919;
  --text: #ffffff;
  --text-color: #fff;
  --bg-txt-img: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
  --txt-fill: transparent;
  --col-icon: white;
  --col-bd-radius: black;
  --col-bd-icon: transparent;
  --col-box-shadow: 5px 5px 10px rgba(22, 21, 21, 0.7), -5px -5px 10px rgba(255, 255, 255, 0.1);
  --col-box-shadow-hover: inset rgba(255, 255, 255, 1) 2px 2px 4px, inset rgba(255, 255, 255, 0.5) -2px -2px 4px;
  --col-icon-twitter: #1da1f2;
  --col-icon-dribbble: #ea4c89;
  --col-icon-linkedin: #0e76a8;
  --col-icon-kaggle: #41aff3;
  --col-icon-github: #24292e;
  --col-icon-instagram: rgb(201, 94, 174);
  --col-icon-mail: rgb(209, 82, 82);
  --col-icon-google-scholar: #3cba54;
  --col-icon-codeforces: rgb(19, 145, 184);
  --col-icon-leetcode: rgb(255, 181, 62);
  --col-white: #fff;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  border-radius: 2px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  max-height: 10px;
  -webkit-box-shadow: inset 0 0 6px #bb86fc;
  background: #bb86fc;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca9eff;
  
}


/* Scroll to Top button */

#btnScrollToTop {
  width: 50px;
  height: 50px;
  background-color: #bb86fc;
  margin: 8px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  position: fixed;
  outline: none;
  bottom: 10px;
  right: 10px;
  animation: up 1.5s infinite;
  -webkit-animation: up 1.5s infinite;
}


/*
---------------------------------------
 SCROLL TO TOP BUTTON MICROANIMATION
---------------------------------------
*/

@keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}

@-webkit-keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}




html{
  overflow-y: visible;
  scrollbar-color: #ca9eff #f1f1f1;
  scrollbar-width: auto;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}
.text-center heading1 exp-head {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}



/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
  background-color: #dbdbdb;
}
.profile-photo{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.animated-text span {
  display: none;
  line-height: 1;
}

.animated-text span.active {
  display: inline;
}

.animated-text:after {
  content: ".";
  display: inline;
  width: 6px;
  text-indent: 0;
  /* overflow: hidden; */
  background: var(--col-icon);
  animation: blink 0.3s infinite alternate;
}
.datawords{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  /* width: 8rem; */
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
  color: #bb86fc;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}



/* EXPERIENCE SECTION */

#experience {
  position: relative;
  /* height: 80vh; */
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin-bottom: 80px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */
/* 
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
} */

------------------------
    FOOTER SECTION
------------------------
*/


/* Also have a look at the scroll to top button if changing footer's height (below upArrow in app.js) */

.footer {
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #121212;
}

.tag {
    font-family: "Poppins", sans-serif;
    font: size 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    height: 78px;
    margin: 5px auto 0px;
    display: block;
    box-sizing: border-box;
}

.svg-inline--fa {
    vertical-align: -0.200em;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}


/********
Rotate Transition in foote Soical Icon
*********/

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
    transition: background-color 0.3s, var(--trans-props);
}



 /*
---------------------------
   LINKEDIN MICROANIMATION
---------------------------
*/

.linkedin-icon{
  /* margin-left: 15px; */
}
.linkedin:hover .linkedin-icon>rect{
  animation: rect-up 0.3s linear infinite;
}


@keyframes rect-up {
  50% {
      y:10px;
      height:11px;
   }
  0%{
      y:13px;
      height:8px;  
      }
  
}

.linkedin:hover .linkedin-icon> circle{
  animation: bounce 0.4s linear infinite;
}

@keyframes bounce {
  75% {
      cy: 8px;
   }
   50%{
      cy: 4px
   }
  0%{
      cy:4px
      }
  
}

/*
---------------------------
   INSTAGRAM MICROANIMATION
---------------------------
*/

.instagram-icon {
  width: 65px !important;
 
}
.st0 {
  fill:none;
  stroke:#EF4649;
  stroke-width:7;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.instagram:hover #littleCircle {
  stroke-dasharray:150;
}

.instagram #shutter{
  display:none;
}
.instagram:hover #shutter{
  display: block;
  animation: shutter 1s linear infinite;
}
.instagram:hover #lens{
  fill:#EF4649;
  animation: lens 1.5s linear infinite;

}

@keyframes shutter {
  0%, 50% {
          stroke-dashoffset: 150;
          
      }
  75% {
          fill:#EF4649;
          stroke-dashoffset: 0;
          stroke-width:11;
      }
}

@keyframes lens {
  0%, 75% {
          opacity: 0;
      }
  100% {
          opacity: 1;
      }
}


/*
---------------------------
   TWITTER MICROANIMATION
---------------------------
*/
.twitter-icon{
  width: 40px;
  /* margin-left: 12px; */
}

.twitter:hover #wing1{
      transform-origin:center;
      animation: flap 0.4s ease-out infinite alternate;
   }	
   
.twitter:hover #wing2{
    transform-origin:center;
    animation: flap 0.4s ease-in infinite alternate;
 }		

@keyframes flap{
     50%{
      transform:scaleX(-1) rotate(-45deg) translate(-40px,-40px);
     }
   }

/*
--------------------------
   GITHUB MICROANIMATION
--------------------------
*/
.github-icon {
  width: 40px;
  margin: 5px;
  /* margin-top: 5px; */
  padding: 5px;
  fill: #000000;
}

.github:hover #arm {
  transform-origin: bottom right;
  animation: moveArm 1s infinite alternate;
}

@keyframes moveArm {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
 }

 /*
  --------------------------
     DRIBBBLE MICROANIMATION
  --------------------------
  */
  
  .dribbble-icon{
    width: 30px;
    height: 30px;
    margin-left:16px;
    margin-top: 20px;
  }
  
  .dribbble:hover .dribbble-icon{ 
      animation: dribbble-bounce .4s ease infinite;
      transform: rotate(360deg);
      transition: all 9s ease-in-out 0s;
  }
  
  @keyframes dribbble-bounce {
    from, to {
      margin-top: 20px;
    }
    50% { 
      margin-top: 15px; 
    }
    
    75%{
      margin-top: 15px;
    }
  }
  
  /*
  --------------------------
     CODEFORCES MICROANIMATION
  --------------------------
  */
  
  .codeforces-icon{
    margin-right: 6px;
    margin-top: 6px;
  }
  
  .codeforces-icon .red {
    height:4px;
    y:2.5px;
    
  }
  .codeforces:hover .red{
    animation: red-animation 2.5s infinite alternate;
  }
  
  
  .codeforces-icon .yellow{
    height:5px;
    y:1.5px;
    
  }
  
  .codeforces:hover .yellow{
    animation: yellow-animation 2s infinite alternate-reverse;
  }
  
  .codeforces:hover .blue{
    animation: blue-animation 2s  infinite alternate;
  }
  
  @keyframes red-animation{
    0%{
       y:0px
    }
    0%{
        height:6px;
        y:0.5px;
    }
  }
  
  @keyframes yellow-animation{
    0%{
        y:0px;
    }
    0%{
        height:6px;
        y:0.5px;
    }
  }
  
  @keyframes blue-animation{
    0%{
        y:0px;
    }
    0%{
        height:3px;
        y:3.5;
    }
  }
  
  

  .socialicon svg {
    overflow: hidden;
    vertical-align: middle;
}

/*
----------------------------
   SOCIAL MEDIA ANIMATIONS
----------------------------
*/

.socialicon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}
.socialicon:hover:after {
  transform: translate(0) scale(1.2);
}
.socialicon:hover i {
  color: #fff;
}
a:hover {
  color: transparent;
}


/*
----------------------------------------
 HOVER EFFECT ON SOCIAL MEDIA ICONS
----------------------------------------
*/

.rounded-social-buttons .social-button.twitter {
  background: white;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #000;
  background: white;
}

.rounded-social-buttons .social-button.linkedin {
  background: white;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #000;
  background: white;
}

.rounded-social-buttons .social-button.instagram {
  background: white;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #000;
  background: white;
}

.rounded-social-buttons .social-button.github {
  background: white;
}

.rounded-social-buttons .social-button.github:hover,
.rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: white;
}


/************
Contact Form In Footer
*************/

.display {
  height: auto;
  width: auto;
  text-align: left;
  color: #fff;
  display: inline;
  font-size: 25px;
  font-weight: 200;
  line-height: 22px;
  border-bottom: 3px solid #bb86fc;
}

.form-header {
  text-align: center;
  margin-bottom: 4rem;
}

form {
  margin: 15px auto;
  color: #000;
}


/*
-------------------
 Footer Form
--------------------
*/

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  border-radius: 2px;
}

.form-style-6 h1 {
  background: #bb86fc;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: transparent;
  margin-bottom: 4%;
  border: #000;
  border-bottom: 2px solid #bb86fc;
  padding: 3%;
  color: rgb(107, 105, 105);
  font: 95% Arial, Helvetica, sans-serif;
  border-radius: 2px;
}

.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #bb86fc;
  padding: 3%;
  border: 1px solid #bb86fc;
  border-radius: 2px;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin-top: 2rem;
  padding: 3%;
  background: #bb86fc;
  border-bottom: 2px solid #bb86fc;
  border-radius: 23px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 20px;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
  background:#6a00bbd2;;

}

.form-comtainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.footer hr {
  background-color: rgb(37, 51, 46);
  height: 1.5px;
}

/* to make the navbar open full screen on mobile */

@media (max-width: 768px) {
  .collapse navbar-collapse {
      display: flex;
      justify-content: center;
  }
  .footer {
      padding-top: 10px;
  }
  #navbar-content {
      margin-top: -200px;
      height: 120vh;
      text-align: center;
      transform: translateY(25%);
  }
  #btnScrollToTop {
      display: none;
  }
}

@media (max-width: 414px) {
  .collapse navbar-collapse {
      display: flex;
      justify-content: center;
  }
  #navbar-content {
      margin-top: -180px;
      height: 120vh;
      text-align: center;
      transform: translateY(25%);
  }
  #btnScrollToTop {
      display: none;
  }
}

@media (max-width: 375px) {
  .collapse navbar-collapse {
      display: flex;
      justify-content: center;
  }
  #navbar-content {
      margin-top: -180px;
      height: 120vh;
      text-align: center;
      transform: translateY(25%);
  }
  #btnScrollToTop {
      display: none;
  }
}

@media (max-width: 320px) {
  .collapse navbar-collapse {
      display: flex;
      justify-content: center;
  }
  #navbar-content {
      margin-top: -140px;
      height: 130vh;
      text-align: center;
      transform: translateY(25%);
  }
  .footer {
      margin-top: 6rem;
  }
  #btnScrollToTop {
      display: none;
  }
}


/* box shadow for profile picture */

.rounded-circle {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}



/* smooth scrolling to top */

html {
  scroll-behavior: smooth;
}


/*
------------------------------------
   HAMBURGER ANIMATION
------------------------------------
*/

.hamburger_wrapper {
  float: right;
}

.hamburger {
  width: 2.5em;
  height: 2em;
  font-size: 11px;
  cursor: pointer;
  position: relative;
}

.first,
.second,
.third {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  height: .45em;
  width: 100%;
  float: left;
  border-radius: 2px;
  transition: all .35s ease-in-out;
}

.first {
  top: 0px;
}

.is-active .first {
  transform-origin: .167em .33em;
  transform: rotate(45deg) translate(0.167em, -0.25em);
}

.second {
  top: 50%;
  margin-top: -.25em;
}

.is-active .second {
  opacity: 0;
  transform: translateX(8em)
}

.third {
  bottom: 0px;
  transform-origin: .25em -0.33em;
}

.is-active .third {
  transform: rotate(-45deg) translate(-0.167em, 0.083em);
}

.navbar {
  color: #000000;
  background-color: #fff;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}


/* Dark Mode toggle switch button */
.dark_toggler {
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image 0.9s;
  box-shadow: 0px 2px 5px 1px gray;
}

.dark_toggler:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: navy;
  border-radius: 50px;
  transition: all 0.9s;
  background-color: #f7ca33;
}


.dark_toggler:checked {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  transition: background-image 0.9s;
}

.dark_toggler:checked:before {
  transform: translate(150%);
  transition: all 0.9s;
  background-color: #ecf0f3;
}
/* end of dark mode toggle switch button */

html {
  background-color: #f6f6f6;
  transition: background-color .3s;
}

html[light-mode="dark"] {
  background-color: #141516;
  color: #ced4e2;
}

.dark-theme {
  background-color: #2b2a2A;
  transition: background-color .3s;
}

.dark-theme .navbar-nav .nav-link,
.dark-theme .navbar-brand,
.dark-theme .content span {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .nav-link:hover{
color: #ffffff !important;
}

.first,
.dark-theme .second,
.dark-theme .third {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark-theme  .section__pic-container{
  background-color: #0b0b0b;
}

.dark-theme .btn-container button {
  color: red !important;
}



.dsc{
   box-shadow:   2px 5px 5px 0px rgb(130 216 251), 
   inset -2px -5px 5px 0px rgb(130 216 251);
   background: #1f1d1d; 
}
/*
-------------------------------------
  SIDEBAR SVG ANIMATION
--------------------------------------
*/

.bike {
  margin-top: 30px;
  display: block;
}

#right-wheel,
#left-wheel {
  animation: wheel 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#man-bike {
  animation: bikes 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#hat {
  animation: hat 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
      transform: rotateZ(0deg);
  }
  to {
      transform: rotateZ(360deg);
  }
}

@keyframes bikes {
  from {
      transform: rotateX(0deg);
  }
  to {
      transform: rotateX(12deg);
  }
}

@keyframes hat {
  from {
      transform: translateY(0%) rotateZ(0deg);
  }
  to {
      transform: translateY(10%) rotateZ(20deg);
  }
}

.testimonial-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.testimonial-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.testimonial-text {
  font-style: italic;
  color: #777;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
  margin-top: 250px;

  background-color: #000;
  border-radius: 50%;
}

.circle-icon {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}



/*
-------------------------------------
  NAV BAR HIGHTLIGHTING
--------------------------------------
*/

@media only screen and (min-width: 1024px) {
  .current-link {
      font-weight: bolder;
      position: relative;
      z-index: 1;
      text-align: center;
  }
  .current-link:after {
      content: "";
      position: absolute;
      left: 34%;
      margin-left: auto;
      margin-right: auto;
      bottom: 0;
      width: 32%;
      border-bottom: 3px solid #6a00bb;
  }
  
  .nav-item-hover::after {
      content: "";
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 0.15em;
      bottom: 0;
      width: 0%;
      background-color: #6a00bb;
      transition: all ease-in-out 280ms;
  }
  
  .nav-item:hover::after {
      width: 50%;
      
  }

  li.nav-item {
      text-align: center;
  }
  a.nav-link {
      padding: 6px 21px !important;
  }

  /* Hide svg on laptop screens to prevent overlap between sidebar and navbar */
  .bike {
      display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      align-items: center;
  }
}


/**Navbar burger animations**/

.navbar-toggler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-color: white;
  border: none;
  outline: none;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 50px;
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* .navbar-light .navbar-brand {
  color: rgba(0, 0, 0, .9);
} */
.navbar-brand {
  font-family: 'Agustina';
  font-size: 30px;
  font-weight: bold;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  /* font-size: 1.3rem; */
  line-height: inherit;
  white-space: nowrap;
}


.spinner {
  display: none;
  width: 24px;
  height: 24px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


a.socialicon {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.social-icons {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.socialicon{
  display: flex;
  position: relative;
  overflow: hidden;
  width: var(--link-size);
  height: var(--link-size);
  background-color: #fff;
  margin: 8px;
  border-radius: 50%;
  box-shadow: 2px 5px 5px var(--shadow-col);
  text-decoration: none;
  transition: var(--trans-props);
}
.socialicon i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}

.kaggle i {
  margin: auto;
  font-size: 24px;
  z-index: 1;
  transition: var(--trans-props);
}

.socialicon.kaggle{
  color:var(--col-icon-kaggle);
}

.socialicon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-props);
  
}

.socialicon.kaggle:after {
  background-color: #41aff3;
  box-shadow: var(--kaggle);
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 5px 0;
  height: 10px;
}

.progress {
  height: 100%;
  background-color: #bb86fc;
  border-radius: 5px;
}
